.container {
  padding-left: calc(5rem + env(safe-area-inset-left));
  padding-right: calc(5rem + env(safe-area-inset-right));
  height: 100vh;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* :not(:last-child) {
    margin-bottom: 2rem;
  } */
}
