.container {
  height: 100vh;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $bp-midsmall) {
    padding: 1rem 0rem;
  }
  /* :not(:last-child) {
    margin-bottom: 2rem;
  } */
}
