.container {
  height: 100vh;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* :not(:last-child) {
    margin-bottom: 2rem;
  } */
}
