.mail {
  background-color: $primary-background-color;
  position: fixed;
  padding: 4rem 10rem;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  width: 60rem;
  height: 30rem;
  box-shadow: 1rem 1rem 2rem rgba($primary-text-color, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  &__welcome {
    font-family: var(--open-sans-font);
    align-self: flex-start;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    color: rgba($primary-text-color, 0.6);
  }
  &__input {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    &--input {
      border: none;
      color: rgba($primary-text-color, 1);
      width: 40rem;
      height: 4rem;
      justify-self: center;
      padding: 0 1rem;
      font-size: 1.8rem;
      outline: none;
      border-bottom: 1px solid rgba($primary-alert-color, 0);
      transition: all 0.3s;
      &::placeholder {
        color: rgba($primary-text-color, 0.3);
        font-family: var(--montserrat-font);
      }
      &:focus {
        border-bottom: 1px solid rgba($primary-alert-color, 1);
      }
      &:invalid {
        border-bottom: 1px solid rgba(red, 1);
      }
    }

    &--label {
      position: absolute;
      top: 4.5rem;
      left: 1rem;
      font-size: 1.8rem;
      color: rgba($primary-text-color, 0.4);
      opacity: 1;
      transition: all 0.3s;
    }
    &--input:placeholder-shown ~ &--label {
      visibility: hidden;
      transform: translateY(-3rem);
      opacity: 0;
    }
  }
}
