/* .MuiSlider-root {
  :hover,
  :active {
    scale: 1.05;
  }
} */
.statement {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 5rem;

  :not(:last-child) {
    margin-right: 10rem;
  }
  @media only screen and (max-width: 900px) {
    flex-direction: column;

    :not(:last-child) {
      margin-right: 0;
    }
    padding: 1rem 5rem;
  }
  &__slider {
    width: 300px;
  }
}
