@keyframes moveInTop {
  0% {
    opacity: 1;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 1;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animateTop {
  animation-name: moveInTop;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
  //animation reverse
}
.animateBottom {
  animation-name: moveInBottom;
  animation-duration: 0.5s;
  //animation will start from backword
  animation-fill-mode: backwards;
}
